/*
 *
 * CSS Reset
 *
 */

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

/*
 * Landing Page
 */

 .landingmain {
  background-color: #4b907d;
  position: relative;
  background-image: url(../img/kalangaman.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  height: 100vh;
 }

/* .landing-button {
  letter-spacing: 1px;
  color: #606060;
 }

 #landingButton {
  opacity: 0.3;
 }*/

 .cover-heading {
  margin-bottom: 150px;
  margin-top: 350px;
 }

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*
 * Home Page
 */

 .navbar {
  opacity: 0.3;
 }

 div.carousel-inner > div.carousel-item > img {
  height: 100vh;
 }

 .card-columns {
  margin-left: 10px;
  margin-right: 10px;
 }

 .navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
  opacity: 1;
}

h5 {
  text-align: center;
}

.card {
  margin-top: 25px;
  /*margin-bottom: 10px;*/
}